@model ProductListModel
@{
    ViewData["Title"] = "Index";
}

<h1>Ürün Yönetimi</h1>
<hr />
@if (Model.Products.Count() > 0)
{
    <table class="table table-bordered" style="width:75%">
        <thead>
            <tr>
                <td style="width:30px">Id</td>
                <td style="width:100px">Resim</td>
                <td>İsim</td>
                <td style="width:20px">Fiyat</td>
                <td style="width:175px"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>
                        <img src="/image/@product.ImageUrl" width="80" height="80" />
                    </td>
                    <td>@product.Name</td>
                    <td>@product.UnitPrice</td>
                    <td>
                        <a class="btn btn-primary btn-sm mr-2" href="/admin/products/@product.Id" style="width:75px">Güncelle</a>

                        <form action="/admin/deleteproduct" method="post" style="display:inline">
                            <input type="hidden" name="productId" value="@product.Id"/>
                            <button class="btn btn-danger btn-sm" type="submit" style="width:75px">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>Ürün yok.</h4>
    </div>
}
