
@{
    ViewData["Title"] = "About";
}

<h1>Hakkımızda</h1>
<hr />
<div class="container-fluid" style="padding-left:200px;padding-right:200px">
    <aside>
        <blockquote>
            Merhaba;
        </blockquote>
        <blockquote>
            Sitemiz el işi konularında sizleri bilgilendirmek, yeni gelişmelerden haberdar etmek, yeni hobi malzemeleri sunmak gibi bir çok fonksiyonu sizlere sunabilmek için kurulmuştur. Tüm bayanlar için yeni model örgü işleri el işleri ile ilgili katkı sağlayabilecek her türlü bilginin paylaşıldığı bir platformdur.
        </blockquote>
        <blockquote>
            Bunun yanı sıra size fikir verebilecek resim galerilerimizle de bu durum desteklenmektedir.
        </blockquote>
        <blockquote>
            El işlerinizin ve el emeklerinizin görsellik ağırlıklı olduğu için birbirinden farklı alanlarda, farklı farklı modellere ve tasarımlara ait dekorasyon için kullanılabilecek tüm alanlarda bir çok el işi malzemeleri bulabileceğiniz bir adrestesiniz.
        </blockquote>
    </aside>
</div>
<hr />
<br />
<br />
<aside class="text-center">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/P0xqjPgO-VI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</aside>
