@model ProductListModel

<div class="card-body text-center mt-3">
    <form action="/search">
        <div class="form-group">
            <input name="search" type="text" class="form-control" placeholder="Ürün Ara" />
        </div>
        <button type="submit" class="btn btn-primary mt-2" style="width:200px">Ara</button>
    </form>
</div>


